.container {
  width: 80%;
  margin: 0 auto;
}

.game-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
}

.box {
  border: 1px solid black;
  height: 21em;
}

.active-box {
  background-image: url(assets/visual/pic1.png);
  background-size: 100% 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.match-lc-a,
.match-rc-l {
  font-weight: bold;
  font-size: 2em;
  border-radius: 0.2em;
  padding: 0.2em;
}

.match-lc-a {
  background-color: blue;
  color: white;
}

.match-rc-l {
  background-color: red;
  color: white;
}
